- content_for :breadcrumbs do
  %ol.breadcrumb
    %li= link_to 'Home', root_path
    %li= link_to Cause.model_name.human.pluralize, causes_path
    %li= link_to Cause.model_name.human, @cause
    %li.active Edit

.container
  .page-header
    %h1= "Edit #{Cause.model_name.human}"

  = render 'form'
